<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if page.title %}{{ page.title }} &mdash; {{ site.title }}{% else %}{{ site.title }} &mdash; {{ site.subtitle }}{% endif %}</title>
    {% if site.google_font %}<link href="https://fonts.googleapis.com/css?family={{ site.google_font }}" rel="stylesheet" type="text/css">{% endif %}
    {% stylesheet main %}
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/images/{{ site.logo }}"/>
    <link href="{{ site_url }}/feed.xml" rel="alternate" type="application/rss+xml" title="{{ site.title }}" />
    <meta name="title" content="{% if page.title %}{{ page.title }} {% else %}{{ site.title }}{% endif %}">
    <link rel="canonical" href="{{ site.url }}{{ page.url }}">

    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>

    {% if page.site.gplus %}<link rel="publisher" href="https://plus.google.com/{{ site.gplus }}">{% endif %} 
    {% if page.author.gplus %}<link rel="author" href="https://plus.google.com/{{ page.author.gplus }}">{% endif %}       
    <meta property="og:title" content="{% if page.title %}{{ page.title }} {% else %}{{ site.title }}{% endif %}"/>
    <meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
    {% if page.cover_image %}
    <meta property="og:image" content="{{ site.url }}/images/{{ page.cover_image }}"/>
    {% if page.main_image %}
    <meta property="og:image" content="{{ site.url }}/images/{{ page.main_image }}"/>  
    {% endif %}
    <meta property="og:image" content="{{ site.url }}/images/{{ site.logo }}"/>   
    {% endif %}
    {% if page.excerpt %}
    <meta property="og:description" content="{{ page.excerpt }}"/>
    <meta name="description" content="{{ page.excerpt }}"/>
    {% endif %}
    <meta property="og:site_name" content="{{ site.title }}">     
</head>
<body>

<div class="blog-cover" >


    <section>
        <div class="container">


            {% if site.author-image %}
            <div class="profile">
                <img class="ProfileAvatar-image " src="{{site.author-image}}" alt="David Boyne"/>
            </div>
            {% endif %}

                <p class="profile-blurb" >
                    Senior Software Engineer <a href="http://www.comparethemarket.com/">@Comparethemarket</a>.
                    Organiser of <a href="http://www.meetup.com/Agile-Peterborough/">WhatTheHTML</a>. Speaker & evangelist of web development, agile principles and helping others.</p>


            <a class="twitter-follow-button" href="https://twitter.com/boyney123" data-show-count="false"></a>

        </div>
    </section>
</div>


<div class="container">
    <div class="site-nav">
            <nav id="navigation">
                <a href="/" class="home">Posts</a>
                <a href="/about" class="home">About</a>
                <a href="http://eepurl.com/b3D-Z1" target="_blank" >Sign up</a>
            </nav>
    </div>
</div>
    


{{ content }}



<footer class="site-footer">
    <div class="container">
        &copy; {{ site.time | date: "%Y" }} 
        
        <nav>
            <a href="/">Posts</a>
            <a href="/about">About</a>
        </nav>
        
        <nav class="social">
            {% if site.twitter %}
            <a href="https://twitter.com/{{ site.twitter }}" title="Follow on Twitter" target="_blank"><i class="icon icon-twitter black"></i></a>
            {% endif %}
            <a href="/feed.xml" title="RSS Feed">
                <i class="icon icon-rss black"></i>
            </a>
        </nav>
    </div>
</footer>

{% include _scripts.html %}

</body>
</html>
