---
layout: base
---

<article class="post container">

    <article>

        <div class="container">
            <header>
                <div class="meta">
                    By <address><a rel="author" href="{{ page.author.link }}" title="{{ page.author.name }}" target="_blank">{{ page.author.name }}</a></address> &mdash;
                    <time pubdate datetime="{{ page.date | date: "%Y-%d-%B" }}" title="{{ page.date | date: "%B %d, %Y" }}">{{ page.date | date: "%B %d, %Y" }}</time>
                </div>
                <h1 class="title">{{ page.title }}</h1>
                {% if page.subtitle %}<h2 class="subtitle">{{ page.subtitle }}</h2>{% endif %}
            </header>


            <section>
                {{ content }}
                {% include _social.html %}


                <div class="post-share">
                    <h5>SHARE</h5>
                    <div class="a2a_kit a2a_kit_size_32 a2a_default_style" data-a2a-title="{{page.title}} by @boyney123">
                        <a class="a2a_button_facebook"></a>
                        <a class="a2a_button_twitter"></a>
                        <a class="a2a_button_linkedin "></a>
                        <a class="a2a_button_google_plus "></a>
                    </div>
                    <script async src="https://static.addtoany.com/menu/page.js"></script>
                </div>


            </section>

            <footer>
                <address>
                   {% if page.author.image %}<img src="/images/{{ page.author.image }}">{% endif %}
                    <p>Written by <strong><a rel="author" href="https://twitter.com/{{ page.author.twitter }}" title="{{ page.author_name }}" target="_blank">{{ page.author.name }}</a></strong><br>
                    <span class="muted">{{ page.author.bio }}</span>
                    </p>
                </address>

            </footer>




            <div class="other__posts">
                <section>
                    <h2>Other Posts</h2>
                    <ul>

                        {% for post in site.posts limit:5 %}
                            {% if post.title != page.title %}
                                <li>
                                    <a href="{{post.url}}">
                                        <h3>{{ post.title }}</h3>
                                        <span>Posted on <time pubdate datetime="{{ post.date | date: "%Y-%d-%B" }}" title="{{ post.date | date: "%B %d, %Y" }}">{{ post.date | date: "%B %d, %Y" }}</time></span>
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}

                    </ul>
                </section>

            </div>

            <div class="signup">

                    <h3 class="signup__title">Never miss an article!</h3>

                    <p class="signup__sub">Get the latest posts straight to your inbox!</p>

                    <a href="http://eepurl.com/b3D-Z1" target="_blank" class="button button-primary">Sign up</a>
                </form>
            </div>

            <section>
                {% include _disqus.html %}
            </section>
        </div>
    </article>
</article>